/** Pretendard **/
/* Regular */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src:
    url('./Pretendard-Regular.woff2') format('woff2'),
    url('./Pretendard-Regular.woff') format('woff');
}
/* Medium */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src:
    url('./Pretendard-Medium.woff2') format('woff2'),
    url('./Pretendard-Medium.woff') format('woff');
}
/** SpoqaHanSansNeo **/
/* Regular */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 400;
  src:
    url('./SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('./SpoqaHanSansNeo-Regular.woff') format('woff');
}
/* Medium */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 500;
  src:
    url('./SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('./SpoqaHanSansNeo-Medium.woff') format('woff');
}
